:root {
    --color-primary: #d4af37;
    --color-secondary: #c8102e;
    --bg-color: #2C2C2C;
    --text-color: #fff;
    --gray-color: #c2c2c2;

    --montserrat-font: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--montserrat-font);
    color: var(--text-color);
}

body{
    background-color: var(--bg-color);
}
.section {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left {
    flex-direction: row-reverse;
}

.right {
    flex-direction: row;
}

.info h1 {
    font-size: 40px;
}

.info h2 {
    font-size: 36px;
}

.info p {
    font-size: 20px;
}

.info {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: center;
}

.info h1 {
    font-size: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    padding: 5px;
}

.btn-primary {
    background: transparent;
    border: solid 2px var(--color-secondary);
}

.btn-secondary {
    background-color: var(--color-secondary);
    border: none;
}

.btn-secondary:hover {
    transition: ease-in .4s;
    background: transparent;
    border: solid 2px var(--color-secondary);
}

.btn-secondary:not(:hover) {
    transition: ease-out.2s;
}

.btn-primary:hover {
    transition: ease-in .4s;
    background-color: var(--color-secondary);
    border: none;
}

.btn-primary:not(:hover) {
    transition: ease-out.2s;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.dispositivos ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.dispositivos ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rodape {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: var(--gray-color);
}

.dados-criador p {
    font-size: 14px;
    font-weight: 300;
}

.redes-sociais {
    color: var(--gray-color);
    font-size: 18px;

    display: flex;
    gap: 14px;

    cursor: pointer;
}

.redes-sociais i:hover {
    color: var(--text-color);
}